flows_example.json
[{"id":"6163fb94.c1bd54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20aa9b0d.989bd4","type":"twitter-credentials","z":"","screen_name":"coorabinweather"},{"id":"162c210.6899edf","type":"inject","z":"6163fb94.c1bd54","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["f1745419.12a768"]]},{"id":"f1745419.12a768","type":"rpi-ds18b20","z":"6163fb94.c1bd54","topic":"","array":false,"name":"","x":470,"y":660,"wires":[["f989509.f7ce4b"]]},{"id":"9630c9ca.f05608","type":"debug","z":"6163fb94.c1bd54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":660,"wires":[]},{"id":"f989509.f7ce4b","type":"template","z":"6163fb94.c1bd54","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperture is {{payload}}˚C !","output":"str","x":640,"y":660,"wires":[["9630c9ca.f05608","26940559.2630ba"]]},{"id":"26940559.2630ba","type":"twitter out","z":"6163fb94.c1bd54","twitter":"20aa9b0d.989bd4","name":"Tweet","x":850,"y":580,"wires":[]}]